<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="./Terms.css">
    <title>About</title>
  </head>
  <body>

    <div id="AppContainer">

      <nav id='mainHeader'>
        <a id="topLogo" href="./home.html"><img src="../../images/MFlogo.png" alt="MFlogo" /></a>

        <ul class="mainHeader_list 1">
          <li class="mainHeader_elem"><a href="./About.html">About</a></li>
          <li class="mainHeader_elem"><a href="./Terms.html">Terms+Conditions</a></li>
        </ul>

        <ul class="mainHeader_list 2">
          <li class="mainHeader_elem"><a href="./All.html">All</a></li>
          <li class="mainHeader_elem"><a href="./Seating.html">Seating</a></li>
          <li class="mainHeader_elem"><a href="./Tables.html">Tables</a></li>
          <li class="mainHeader_elem"><a href="./Desks.html">Desks</a></li>
          <li class="mainHeader_elem"><a href="./Storage.html">Storage</a></li>
          <li class="mainHeader_elem"><a href="./Bedroom.html">Bedroom</a></li>
          <li class="mainHeader_elem"><a href="./Misc.html">Misc</a></li>
        </ul>

        <a id="shopping" href="#"><i class="fas fa-shopping-cart"></i></a>
      </nav>

      <div class="whiteSpaceContainer">

          <article class="TermsInfo">
            <section class="sectionInfo">

              <h2 id="MainTitle">About</h2>
              <p class="Subtitle">Our Mission and Vision</p>
              <p class="normalText">All buyers (hereinafter 'You' or 'User') need to register by creating a username and a password for login.
                <br />
                <br />
                The information you provide needs to be accurate. You may not use false information or impersonate another person or company through your account.
                <br />
                <br />
                You are responsible for maintaining the confidentiality of the login details and Your account. Artlimes reserves the right to reject Your subscription for any or no reason, in particular, due to User's breach of these Terms of Service.</p>
              <p class="Subtitle">Our History</p>
              <p class="normalText">User’s personal data handling and protection is governed under the terms hereof and the provisions of General Data Protection Regulation (Regulation EC/679/2016).
                <br />
                <br />
                We don’t share your personal information with anyone except to comply with the law, develop our products, or protect our rights.
                <br />
                <br />
                Mallory Furniture collects non-personally-identifying information of the sort that web browsers and servers typically make available, such as the browser type, language preference, referring site, and the date and time of each visitor request. Mallory Furniture's purpose in collecting non-personally identifying information is to better understand how Mallory Furniture's visitors use its website. From time to time, Mallory Furniture may release non-personally-identifying information in the aggregate, e.g., by publishing a report on trends in the usage of its website.
                <br />
                <br />
                Mallory Furniture may collect statistics about the behavior of visitors to its websites
                <br />
                <br />
                Certain visitors to Mallory Furniture's websites choose to interact with Mallory Furniture in ways that require Mallory Furniture to gather personally-identifying information. Mallory Furniture collects such information only insofar as is necessary or appropriate to fulfill the purpose of the visitor’s interaction with Mallory Furniture. Mallory Furniture does not disclose personally-identifying information other than as described below. And visitors can always refuse to supply personally-identifying information, with the caveat that it may prevent them from engaging in certain website-related activities.</p>

            </section>
          </article>

          <section id="bottomSection">
            <div class="MF_logo">
              <img src="../../images/MFlogo-black.png" alt="MF Logo" />
            </div>

            <hr />

            <table id="bottomCategories">
              <thead>
                  <th class="Company">Company</th>
                  <th class="Categories">Categories</th>
                  <th class="Social">Social</th>
              </thead>

              <tbody>
                <tr>
                  <td><a href="./About.html">About</a></td>
                  <td><a href="./Seating.html">Seating</a></td>
                  <td class="linkToSocial">
                    <a href="https://instagram.com"><i class="fab fa-instagram"></i></a>
                    <a href="https://twitter.com"><i class="fab fa-twitter"></i></a>
                    <a href="https://pinterest.com"><i class="fab fa-pinterest-p"></i></a>
                  </td>
                </tr>
                <tr>
                  <td><a href="#">Press</a></td>
                  <td><a href="./Tables.html">Tables</a></td>
                  <td></td>
                </tr>
                <tr>
                  <td><a href="./Terms.html">Terms + Conditions</a></td>
                  <td><a href="./Misc.html">Misc</a></td>
                  <td></td>
                </tr>
              </tbody>
            </table>

          </section>

      </div>
    </div>
  </body>
</html>
