<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="./Bedroom.css">
    <title>Bedroom</title>
  </head>
  <body>

    <div id="AppContainer">

      <nav id='mainHeader'>
        <a id="topLogo" href="./home.html"><img src="../../images/MFlogo.png" alt="MFlogo" /></a>

        <ul class="mainHeader_list 1">
          <li class="mainHeader_elem"><a href="./About.html">About</a></li>
          <li class="mainHeader_elem"><a href="./Terms.html">Terms+Conditions</a></li>
        </ul>

        <ul class="mainHeader_list 2">
          <li class="mainHeader_elem"><a href="./All.html">All</a></li>
          <li class="mainHeader_elem"><a href="./Seating.html">Seating</a></li>
          <li class="mainHeader_elem"><a href="./Tables.html">Tables</a></li>
          <li class="mainHeader_elem"><a href="./Desks.html">Desks</a></li>
          <li class="mainHeader_elem"><a href="./Storage.html">Storage</a></li>
          <li class="mainHeader_elem"><a href="./Bedroom.html">Bedroom</a></li>
          <li class="mainHeader_elem"><a href="./Misc.html">Misc</a></li>
        </ul>

        <a id="shopping" href="#"><i class="fas fa-shopping-cart"></i></a>
      </nav>

      <div class="whiteSpaceContainer">

          <article class="CategoryInfo">
            <section class="sectionInfo">

              <section id="CategoryCover">

              </section>

              <h2 id="MainTitle">Bedroom</h2>
              <p id="desc1">All Bedroom products</p>

              <div id="FilterControls">
                <div class="controlButtons">
                  <button class="button3">All Items</button>
                  <button class="button4">On Sale</button>
                </div>

                <p id="counterTitle"><strong>XX</strong>items showing</p>
              </div>

              <ul id="ProductList">
                <li class="individualProduct">
                  <div class="productImage">
                    <img src="#" alt="Product Picture"/>
                  </div>

                  <article class="productDesc">
                    <p class="articleName">Article Name</p>
                    <p class="articlePrice">$XXXX</p>
                  </article>
                </li>

                <li class="individualProduct">
                  <div class="productImage">
                    <img src="#" alt="Product Picture"/>
                  </div>

                  <article class="productDesc">
                    <p class="articleName">Article Name</p>
                    <p class="articlePrice">$XXXX</p>
                  </article>
                </li>

                <li class="individualProduct">
                  <div class="productImage">
                    <img src="#" alt="Product Picture"/>
                  </div>

                  <article class="productDesc">
                    <p class="articleName">Article Name</p>
                    <p class="articlePrice">$XXXX</p>
                  </article>
                </li>

                <li class="individualProduct">
                  <div class="productImage">
                    <img src="#" alt="Product Picture"/>
                  </div>

                  <article class="productDesc">
                    <p class="articleName">Article Name</p>
                    <p class="articlePrice">$XXXX</p>
                  </article>
                </li>

                <li class="individualProduct">
                  <div class="productImage">
                    <img src="#" alt="Product Picture"/>
                  </div>

                  <article class="productDesc">
                    <p class="articleName">Article Name</p>
                    <p class="articlePrice">$XXXX</p>
                  </article>
                </li>

                <li class="individualProduct">
                  <div class="productImage">
                    <img src="#" alt="Product Picture"/>
                  </div>

                  <article class="productDesc">
                    <p class="articleName">Article Name</p>
                    <p class="articlePrice">$XXXX</p>
                  </article>
                </li>
              </ul>


            </section>


          </article>

          <section id="bottomSection">
            <div class="MF_logo">
              <img src="../../images/MFlogo-black.png" alt="MF Logo" />
            </div>

            <hr />

            <table id="bottomCategories">
              <thead>
                  <th class="Company">Company</th>
                  <th class="Categories">Categories</th>
                  <th class="Social">Social</th>
              </thead>

              <tbody>
                <tr>
                  <td><a href="./About.html">About</a></td>
                  <td><a href="./Seating.html">Seating</a></td>
                  <td class="linkToSocial">
                    <a href="https://instagram.com"><i class="fab fa-instagram"></i></a>
                    <a href="https://twitter.com"><i class="fab fa-twitter"></i></a>
                    <a href="https://pinterest.com"><i class="fab fa-pinterest-p"></i></a>
                  </td>
                </tr>
                <tr>
                  <td><a href="#">Press</a></td>
                  <td><a href="./Tables.html">Tables</a></td>
                  <td></td>
                </tr>
                <tr>
                  <td><a href="./Terms.html">Terms + Conditions</a></td>
                  <td><a href="./Misc.html">Misc</a></td>
                  <td></td>
                </tr>
              </tbody>
            </table>

          </section>

      </div>
    </div>
  </body>
</html>
