@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Source+Sans+Pro');
/*
    font-family: 'Playfair Display', serif;
    font-family: 'Source Sans Pro', sans-serif;
*/

* {
  box-sizing: content-box;
  font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Playfair Display', serif;
}

body {
  margin: 0;
  background-color: #202020;
  background-image: url('./images/static.png');
  background-repeat: repeat;
}

li {
  list-style-type: none;
}

a {
    text-decoration: none;
}

#AppContainer{
  margin: 0 auto;
  width: 80%;
}

/* Header */

#header {
  top: 0;
  position: fixed;
  height: 80px;
  width: inherit;
  background-color: #000000;
  z-index: 1;
  display: flex;
  flex-direction: row;
}

#mainHeader {
  width: 70%;
  height:80px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  align-content: center;
}

#topLogo{
  height: inherit;
}

#topLogo img {
  margin: 10px 15px;
  height: 60px;
}

#shopping {
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #FFC107;
  height: 80px;
  padding: 0 15px;
  margin-left: 20px;
}

#shopping i {
  color: black;
  font-size: 30px;
}

.mainHeader_list{
  width: auto;
  font-size: 18px;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  padding: 0 10px;
  border-right: 2px solid white;
}

.mainHeader_elem li{
  padding: 0;
  margin: 0 10px;
}

.mainHeader_elem a{
  margin: 0 10px;
  color: #2196F3;
}

/* Cart List */

#shoppingCartList{
  height: calc(100vh - 80px);
  width: inherit;
  margin: 0;
  margin-left: 20px;
  font-size: 18px;
}

#shoppingCartList header{
  display: flex;
  align-content: center;
  height: 80px;
  background-color: #2196F3;
  animation-name: appears;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  -webkit-animation-name: appears;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
}
@keyframes appears {
    from {opacity: 0}
    to {opacity: 1}
}
@-webkit-keyframes appears {
    from {opacity: 0}
    to {opacity: 1}
}

#shoppingCartList h2{
  font-size: 25px;
  color: white;
  margin: auto;
}

#cartList {
  height: calc(100vh - 80px);
  z-index: -1;
  position: relative;
  padding-left: 0;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(153, 153, 153, 0.8);
  overflow-y: auto;
  opacity: 0;
  animation-name: goesdown;
  animation-duration: 0.5s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  -webkit-animation-name: goesdown;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;


}
@keyframes goesdown {
    from {top: -1000px;}
    to {top: 0px; opacity: 1; animation-delay: 0; position: static;}
}
@-webkit-keyframes goesdown {
    from {top: -1000px;}
    to {top: 0px; opacity: 1; animation-delay: 0; position: static;}
}

#cartList .tag{
  text-align: center;
  padding: 20px 0;
  width: inherit;
  background-color: white;
}

.carList_background{
  line-height: 0;
  padding: 0;
  opacity: 0.5;
  margin-bottom: 10px;
}

/* Page Content */

.whiteSpaceContainer{
  padding-top: 0;
  margin-top: 80px;
  background-color: white;
}

#TitleCover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  background-image: url('./images/landing-splash-bg.png');
  background-size: cover;
}

#FirstTitle {
  font-size: 60px;
  color: white;
  text-align: center;
  margin: 0 auto;
}

#SecondTitle {
  line-height: 30px;
  font-size: 30px;
  color: white;
  text-align: center;
  margin: 0 auto;
  margin-top: 40px;
}

#SeatingCover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
  background-image: url('./images/category-seating.png');
  background-size: cover;
}

#DesksCover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
  background-image: url('./images/category-desks.png');
  background-size: cover;
}

#TablesCover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
  background-image: url('./images/category-tables.png');
  background-size: cover;
}

#StorageCover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
  background-image: url('./images/category-storage.png');
  background-size: cover;
}

#BedroomCover {
  width: 100%;
  height: 400px;
  background-image: url('./images/category-bedroom.png');
  background-size: cover;
}

#MiscellaneousCover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
  background-image: url('./images/category-miscellaneous.png');
  background-size: cover;
}

.MainInfo{
  padding-top: 30px;
}

.TermsInfo{
  padding-top: 30px;
  margin: 0 190px;
}

.AllInfo{
  padding-top: 0;
}

.CategoryInfo{
  padding-top: 0;
}

.SelectedInfo{
  padding-top: 0;
}

.sectionInfo {
  margin: 0 10px;

}

.productInfo {
  width: auto;
  padding: 50px 30px;
  display: flex;
  flex-direction: row;
}

.singleProductImage{
  width: 60%;
  margin-right: 20px;
}

.singleProductImage img{
  width: 100%;
}

.selectedProductInfo {
  width: 40%;
  border: 2px solid #999999;
  box-shadow: -2px 0 5px #999999;
  margin-left: 20px;
  margin-bottom: auto;
}

#Info{
  border-bottom: 2px solid #999999;
  margin: 20px;
}

#SelectedTitle{
  font-size: 35px;
  margin: 30px 0 0 0;
  font-weight: 500;
  line-height: 40px;
}

.PriceTitle {
  text-align: right;
  color: #000000;
  font-size: 35px;
  font-weight: 500;
  margin: 10px 0;
}

#productStats {
  width: auto;
  display: flex;
  flex-direction: row;
  margin: 20px;
}

.descColumn {
  width: 33%;
}

#stat {
  font-weight: 700;
  text-align: center;
  color: #999999;
  text-decoration: underline;
  margin: 0 30px 0 0;
  font-size: 20px
}

.statCond {
  font-weight: 700;
  text-align: center;
  margin: 0 30px 0 0;
  font-size: 15px;
  color: #999999;
}

#addToCart{
  margin-left: 60px;
  color: #fff;
  font-size: 20px;
  background-color: #F44336;
  border-radius: 30px;
  height: auto;
  width: 35%;
}

#MainTitle{
  font-size: 40px;
  padding: 30px 0 0 0;
  margin: 0;
}

.Subtitle {
  font-size: 30px;
  font-weight: 400;
}

.normalText {
  font-size: 20px;
  color: #000;
}

#desc1 {
  color: #999999;
  font-size: 20px;
  margin: 0;
  margin-bottom: 20px;
  font-weight: 500;
}

/* Product Filter Controls */

#FilterControls {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.controlButtons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.button3 {
  cursor: pointer;
  width: 100px;
  color: #ff4957;
  font-size: 25px;
  font-weight: 700;
  padding: 10px;
  background-color: white;
  border: 2px solid #ff4957;
  margin: 10px;
}

.button4 {
  cursor: pointer;
  width: 100px;
  color: #999999;
  font-size: 25px;
  font-weight: 700;
  padding: 10px;
  background-color: white;
  border: 2px solid #999999;
  margin: 10px;
}

#counterTitle {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 30px;
  margin-right: 10px;
  text-align: right;
  color: #999999;
  font-weight: 700;
}

#counterTitle strong{
  padding-right: 5px;
  font-size: 35px;
  color: #ffc107;
}

/* Product List */

#ProductList {
  padding-left: 0;
  padding-bottom: 30px;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.individualProduct{
  height: 550px;
  width: 32%;
  border: 2px solid #999999;
  box-shadow: 2px 2px 2px #999999;
  padding: 5px;
  margin: 5px 0;
  position: relative;
}

.productImage {
  width: 90%;
  margin: 10px auto;
}

.productImage img{
  width: 100%;
}

.productDesc{
  position: absolute;
  bottom: 5px;
  left: 5px;
}

.articleName {
  font-weight: 600;
  font-size: 20px;
  color: #000;
  margin: 0;
}

.articlePrice {
  font-weight: 600;
  font-size: 20px;
  color: #999999;
  margin: 0;
}


.buttons {
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.button1 {
  text-align: center;
  cursor: pointer;
  width: 250px;
  color: #ff4957;
  font-size: 25px;
  font-weight: 700;
  padding: 10px;
  background-color: white;
  border: 2px solid #ff4957;
  margin: 20px auto;
}

.button2 {
  text-align: center;
  cursor: pointer;
  width: 210px;
  color: #5db8fa;
  font-size: 25px;
  font-weight: 700;
  padding: 10px;
  background-color: white;
  border: 2px solid #5db8fa;
  margin: 20px;
}


/* Bottom Section */

#bottomSection{
  border-top: 2px solid #999999;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#bottomSection .MF_logo{
  padding: 20px;
  width: 100px;
  margin: 0 auto;
}

#bottomSection img{
  width: 100%;
}

#bottomSection hr{
  color: #999999;
  width: 50px;
  margin-bottom: 40px;
}

#bottomCategories{
  width: 700px;
}

#bottomCategories thead{
  color: #F44336;
}

th {
  text-align: left;
}

.Social{
  text-align: right;
}

.linkToSocial {
  text-align: right;
}

.linkToSocial a{
  margin: 0 5px;
}

#bottomCategories a{
  color: #000;
}

/* Media Querys */

@media screen and (max-width: 1366px) {
  #mainHeader {
    height: 60px;
  }

  #mainHeader a{
    font-size: 12px;
  }


  #mainHeader i{
    font-size: 12px;
  }

  #mainHeader li{
    padding: 10px;
  }

  #mainHeader ul{
    font-size: 12px;
  }

  #shopping{
    height: 60px;
    font-size: 15px;
  }

  #shopping i{
    font-size: 15px;
  }

  .whiteSpaceContainer{
    margin-top: 60px;
  }

  #TitleCover {
    height: 400px;
  }

  #FirstTitle{
    font-size: 50px;
  }

  #SecondTitle{
    font-size: 25px;
  }

  #ProductList {
    display: flex;
    justify-content: space-around;
  }

  .individualProduct {
    width: 30%;
    height: 400px;
  }

  .individualProduct p{
    font-size: 12px;
  }

  .button1, .button2, .button3, .button4 {
    font-size: 15px;
  }
}

@media screen and (max-width: 1024px) {
  #AppContainer{
    width: 100%;
  }

  .individualProduct {
    width: 40%;
    height: 400px;
  }
}
